nav  {
  display: block;
  border:3px solid #ccc;
  border-width:1px 0;
  list-style:none;
  margin: 0; 
  padding: 0; 
  width: 100%;
}

body {
  background-color: #F2F1E8;
  font-family:Merriweather;
  height:100%;
  width:100%;
  margin: 0; padding: 0; height: 100%; width: 100%;
}

main {
  height: 100%;
  width:100%;
  margin: 0; 
  padding: 0;
}

h1  {
  font-size: 55px;
}

h2  {
  font-size:36px;
  padding-top: 0px;
  margin-top:-25px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

figure  {
  width:900px;
}

figcaption  {
  position: absolute;
  bottom:10px;
  color:#eeedd4;
  background-color: #2B2F26;
  padding:10px;
}

.topnav {
  color:#2B2F26;
  background-color:#FFFFFF;
  font-family: #968772;
  background-image: url('../Week-1-Project/Images/optimized/bent-creek-logo.png'); 
  background-repeat: no-repeat;
  background-size:35px;
  background-position: left, center; 
  background-size:35px;
  text-align: center;
  padding-top:20px;
  padding-bottom: 20px;
  margin:0;
}

.topnav .currenth {
  color:#1A691A;
  text-decoration-color:#1A691A; 
}

.heading  {
  background-color: #f2f1eb;
display:flex;
flex-direction: column;
align-items: center;
}

.topnav a {
  color:#000;
  font-family: Roboto;
  margin:0 10px;
}
.firstrow {
  padding:0 15px;
  display:flex;
  flex-flow: row nowrap;
  height:350px;
  width:97.5%;
}
.secondrow  {
  padding:0 15px;
  display:flex;
  flex-flow:row nowrap;
  height:300px;
  width:97.5%;
}
 .frow1 {
  position: relative;
  margin:0 5px;
  
}
.frow2  {
  position: relative;
  margin:10px 5px 0 5px;
}

.foot {
  text-align: left;
  background-color: #2B2F26;
  padding:30px;
  color:white;
  margin-top:10px;
  margin-bottom:0;
}

#pic1 {
  background-image: url('../Week-1-Project/Images/optimized/product-1.jpg');
  width:60%;
}

#pic2 {
  background-image:url('../Week-1-Project/Images/optimized/product-2.jpg');
  width:20%;
}

#pic3 {
  background-image: url('../Week-1-Project/Images/optimized/product-3.jpg');
  width:20%;
}

#pic4 {
  background-image: url('../Week-1-Project/Images/optimized/product-4.jpg');
  width:20%;
}

#pic5 {
  background-image: url('../Week-1-Project/Images/optimized/product-5.jpg');
  width:20%;
}

#pic6 {
  background-image: url('../Week-1-Project/Images/optimized/product-6.jpg');
  width:40%;
}

#pic7 {
  background-image: url('../Week-1-Project/Images/optimized/product-7.jpg');
  width:20%;
}