/**{
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
}*/


.topnav{
  /*position: fixed;*/
  color:#2B2F26;
  background-color:#FFFFFF;
  font-family: #968772;
  background-image: url('../Images/optimized/bent-creek-logo.png');
  background-repeat: no-repeat;
  background-size:35px;
  width:100%;
  top:0;
  text-align: center;
  padding-top:20px;
  padding-left:0;
  padding-right:0;
  padding-bottom: 20px;
}
body{
  font-family:Merriweather;
}
h1 {
  text-align: center;
  padding:5px 5px;
  font-weight: 300;
}
h3{
  text-align: center;
  padding:5px 5px;
}
main  {
  height:100vh;
  background-image: url('../Images/optimized/background-2.jpg');
  width:100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  display:flex;
  justify-content: center;
  align-items: center;
}
.topnav a{
  color:#000;
  font-family: Roboto;
  margin:0 10px;
}
.form{
  background-color: #fff;
  padding:45px 20px;
}
.input input{
  width:100%;
  border-color:transparent;
  border-bottom: 2px solid #968772;
  font-size: small;
  padding: .5em 0 .5em 0;
  margin-top: 5px;
}
.submit{
  color:#fff;
  background-color:#968772;
  margin-top: 15px;
  text-align: center;
  padding:15px 25px;
}
